$accent_color: #{"@blue_3"};
$accent_bg_color: #{"@blue_4"};
$accent_fg_color: #{"@light_1"};
$destructive_color: #{"@orange_3"};
$destructive_bg_color: #{"@orange_3"};
$destructive_fg_color: #{"@dark_3"};
$success_color: #{"@green_3"};
$success_bg_color: #{"@green_3"};
$success_fg_color: #{"@dark_3"};
$warning_color: #{"@yellow_3"};
$warning_bg_color: #{"@yellow_3"};
$warning_fg_color: #{"@dark_3"};
$error_color: #{"@red_3"};
$error_bg_color: #{"@red_3"};
$error_fg_color: #{"@red_3"};
$window_bg_color: #{"@dark_3"};
$window_fg_color: #{"@light_3"};
$view_bg_color: #{"@dark_2"};
$view_fg_color: #{"@light_3"};
$headerbar_bg_color: #{"@dark_3"};
$headerbar_fg_color: #{"@light_3"};
$headerbar_border_color: #{"@light_2"};
$headerbar_backdrop_color: #{"@window_bg_color"};
$headerbar_shade_color: #{"@dark_4"};
$card_bg_color: #{"@view_bg_color"};
$card_fg_color: #{"@view_fg_color"};
$card_shade_color: #{"@window_bg_color"};
$dialog_bg_color: #{"@window_bg_color"};
$dialog_fg_color: #{"@window_fg_color"};
$popover_bg_color: #{"@window_bg_color"};
$popover_fg_color: #{"@window_fg_color"};
$shade_color: #{"@card_shade_color"};
$scrollbar_outline_color: #{"@view_bg_color"};
$borders_color: #{"@borders"};
