@import "Colors.scss";

window#applauncher {
  all: unset;
}
.applauncher_box {
  @include MasterWidget;
  margin: 5px 0 0 5px;
  padding: 1.5em;
}
.applauncher_box entry {
  background-color: $main-border-color;

  &:focus {
    border: 1px solid $accent-color;
  }
}
