@import "Colors";

window#bar-0 {
  all: unset;
  // @include MasterWidget;
  // border-bottom-left-radius: 100px;
  // border-bottom-right-radius: 100px;
}
.wifi_indicator,
.workspaces,
.clock,
.volume,
.systray,
.media,
.top_sys_button_menu,
.ws-container {
  @include MasterWidget;
  padding: 0 5px;
  margin: 5px 8px;
}
.top_sys_button_menu {
  padding: 0px 10px;
}

.workspaces button.work label {
  color: $macch-Blue;
}

.workspaces button.focused {
  & label {
    color: $accent-color;
  }
  border-bottom: 3px solid $accent-color;
}
.workspaces button,
.workspaces button.work,
.workspaces button.focused {
  & label {
    padding: 0px 2px 0px 6px;
  }
}

.clock {
  font-size: 1.1em;
}

.ws-container {
  @include MasterWidget;
}
.ws-button:hover {
  transition: background-color ease-in-out 100ms;
  background-color: $macch-Surface2;
}
.ws-button-label {
  padding: 0px 8px 0px 12px;
}
.ws-button {
  border-radius: 5px;
}
.wsb-occupied {
  color: $macch-Blue;
}
.wsb-active {
  color: $accent-color;
  border-bottom: 3px solid $accent-color;
}
