@import "Colors.scss";

$text-input: $macch-Text;
$bg-dark: transparentize(
  $color: $macch-Mantle,
  $amount: 0.5,
);
$border-color: $macch-Surface1;
$border-radius: 10px;
$input-bg: $macch-Crust;
$input-border: #3e4452;
$result-bg: #282c34;
$result-border: #21252b;

.chat {
  @include MasterWidget($bg-c: $master-dark-bg);
}

.chatBox {
  padding: $master_padding;
  min-width: 500px;
}

.chatHeader {
  padding: $master_padding;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $bg-dark;
}

.chatInput {
  min-height: 75px;
  padding: $master_padding;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background-color: $bg-dark;
}

.resultBox {
  padding: 5px;
  background-color: $result-bg;
  border: 1px solid $result-border;
}

.listChatBox {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.inputBox text {
  background-color: $input-bg;
  border: 1px solid $input-border;
  border-radius: 5px;
  padding: 5px;
  min-width: 200px;
}
