@import "Colors.scss";
$mach-Surface1: #494d64;
$text-input: #3a3d4b;

.chat {
  background-color: $one-dark-bg;
  border-radius: 5px;
  border: 1px solid $main-border-color;
  padding: 5px;
}
.chatBox {
  padding: 8px;
  min-width: 500px;
}
.chatHeader {
  padding: 10px;
  border: 1px solid #5c6e7b;
  border-radius: 10px;
  background-color: #252a32;
}
.chatInput {
  min-height: 75px;
  padding: 10px;
  border: 1px solid #5c6e7b;
  border-radius: 10px;
  background-color: #252a32;
}
.resultBox {
  padding: 5px;
  background-color: #282c34;
  border: 1px solid #21252b;
}
.listChatBox {
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}
.inputBox text {
  background-color: #1d1f23;
  border: 1px solid #3e4452;
  border-radius: 5px;
  padding: 5px;
  min-width: 200px;
}
