@import "Colors";

.cliphist {
  background-color: $master-dark-bg;
  border-radius: 5px;
  border: 1px solid $main-border-color;
  padding: 5px;
}
.cliphist_master_box {
  padding: $master_padding;
  min-width: 600px;
}
.clip_scroll_box {
  min-height: 350px;
}
