@mixin MasterWidget(
  $bg_c: $master-dark-bg,
  $bord: 1px solid $main-border-color,
  $bord_rad: $master_border_radius
) {
  background-color: $bg_c;
  border: $bord;
  border-radius: $bord_rad;
}

$mocha-Rosewater: #f5e0dc;
$mocha-Flamingo: #f2cdcd;
$mocha-Pink: #f5c2e7;
$mocha-Mauve: #cba6f7;
$mocha-Red: #f38ba8;
$mocha-Maroon: #eba0ac;
$mocha-Peach: #fab387;
$mocha-Yellow: #f9e2af;
$mocha-Green: #a6e3a1;
$mocha-Teal: #94e2d5;
$mocha-Sky: #89dceb;
$mocha-Sapphire: #74c7ec;
$mocha-Blue: #89b4fa;
$mocha-Lavender: #b4befe;
$mocha-Text: #cdd6f4;
$mocha-Subtext1: #bac2de;
$mocha-Subtext0: #a6adc8;
$mocha-Overlay2: #9399b2;
$mocha-Overlay1: #7f849c;
$mocha-Overlay0: #6c7086;
$mocha-Surface2: #585b70;
$mocha-Surface0: #45475a;
$mocha-Base: #313244;
$mocha-Mantle: #1e1e2e;
$mocha-Crust: #181825;

$macch-Rosewater:/*<->*/ #f4dbd6;
$macch-Flamingo: /*<->*/ #f0c6c6;
$macch-Pink:     /*<->*/ #f5bde6;
$macch-Mauve:    /*<->*/ #c6a0f6;
$macch-Red:      /*<->*/ #ed8796;
$macch-Maroon:   /*<->*/ #ee99a0;
$macch-Peach:    /*<->*/ #f5a97f;
$macch-Yellow:   /*<->*/ #eed49f;
$macch-Green:    /*<->*/ #a6da95;
$macch-Teal:     /*<->*/ #8bd5ca;
$macch-Sky:      /*<->*/ #91d7e3;
$macch-Sapphire: /*<->*/ #7dc4e4;
$macch-Blue:     /*<->*/ #8aadf4;
$macch-Lavender: /*<->*/ #b7bdf8;
$macch-Text:     /*<->*/ #cad3f5;
$macch-Subtext1: /*<->*/ #b8c0e0;
$macch-Subtext0: /*<->*/ #a5adcb;
$macch-Overlay2: /*<->*/ #939ab7;
$macch-Overlay1: /*<->*/ #8087a2;
$macch-Overlay0: /*<->*/ #6e738d;
$macch-Surface2: /*<->*/ #5b6078;
$macch-Surface1: /*<->*/ #494d64;
$macch-Surface0: /*<->*/ #363a4f;
$macch-Base:     /*<->*/ #24273a;
$macch-Mantle:   /*<->*/ #1e2030;
$macch-Crust:    /*<->*/ #181926;

$one-dark-bg: #282c34;
$one-dark-border-color: #3e4452;

$latte-Mauve: #8839ef;

$latte-Base: #eff1f5;

$frappe-Base: #303446;
$yet-another-color: #ff00ff;

$borders: 10px;
$master-dark-bg: transparentize(
  $color: $macch-Base,
  $amount: 0.4,
);
$main-border-color: $macch-Surface0;

$side_dash_bg_dark: $macch-Mantle;
$side_dash_border_color: $macch-Surface2;
$master_border_radius: 10px;
$master_padding: 10px;
