@import "Colors.scss";

window#mpris {
  all: unset;
}
.player {
  @include MasterWidget;
  margin-top: 5px;
  min-width: 350px;
  padding: 15px;

  & .img {
    min-width: 100px;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
    margin-right: 1em;
  }

  & .title {
    font-size: 1.2em;
  }

  & .artist {
    font-size: 1.1em;
    color: #eee;
  }

  & scale.position {
    padding: 0;
    margin-bottom: 0.3em;

    & trough {
      min-height: 8px;
    }

    & highlight {
      background-color: $macch-Blue;
    }

    & slider {
      all: unset;
    }
  }

  & button {
    min-height: 1em;
    min-width: 1em;
    padding: 0.3em;
    &.play-pause {
      margin: 0 0.3em;
    }
  }
}
