@import "Colors.scss";

$border_for_buttons: 6px;

window#notifications {
  all: unset;
}

window#notifications box.notifications {
  padding: 0.5em;
}

.notification {
  @include MasterWidget;
  min-width: 350px;
  margin: 0.5em;
}
.notification_side_box-low,
.notification_side_box-normal,
.notification_side_box-critical {
  padding: 5px;
  border-radius: 10px;
}

.notification_side_box-low {
  border: 1px solid #3e6152;
}
.notification_side_box-normal {
  border: 1px solid $main-border-color;
}
.notification_side_box-critical {
  border: 1px solid #ee4452;
}

.title {
  color: $macch-Text;
  font-size: 1.4em;
}

.body {
  color: #fff;
}
.actions .lonely_action_button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}
.actions .action_button {
  margin: 0 0.2em;
  margin-top: 0.8em;
  border-radius: unset;
  border: 1px solid $main-border-color;
}

.actions .action_button:first-child {
  margin-left: 0;
  border-radius: unset;
  border-top-left-radius: $border_for_buttons;
  border-bottom-left-radius: $border_for_buttons;
  border: 1px solid $main-border-color;
}

.actions .action_button:last-child {
  margin-right: 0;
  border-radius: unset;
  border-top-right-radius: $border_for_buttons;
  border-bottom-right-radius: $border_for_buttons;
  border: 1px solid $main-border-color;
}

.notification-sidebar {
  border-top-left-radius: $master_border_radius;
  border-bottom-left-radius: $master_border_radius;
  border: 1px solid $main-border-color;
  background-color: $master-dark-bg;
}

.scroll_notifications {
  min-height: 280px;
  min-width: 350px;
  padding: $master_padding;
  border-top-left-radius: $master_border_radius;
  border-bottom-left-radius: $master_border_radius;
}
.notification-widget {
  margin: 2px;
  border-radius: 5px;
  background-color: #393e49;
}

.notification-title-low,
.notification-title-normal,
.notification-title-critical {
  color: $macch-Text;
  font-size: 1.2em;
  margin: 5px;
}

.notification-body {
  color: #fff;
  margin: 5px;
}
.notification-clear-icon {
  border-bottom-left-radius: $master_border_radius;
  margin: 1px;
  padding: 5px 10px;
  background-color: #21252b;
}
.notification-clear-icon button {
  background-color: #21252b;
  transition-duration: 200ms;
}

.notification-clear-icon button:hover {
  background-color: #59606d;
}
.notification_pop_icon {
  padding: 10px 20px;
}

.notification_pop_data {
  border-left: 1px solid $main-border-color;
  padding: $master_padding;
}
