@import "Colors";

window#volume_osd {
  all: unset;
}

.volume_osd_box {
  @include MasterWidget;
  color: $macch-Text;
  min-width: 180px;
  margin-bottom: 1em;
  padding: 5px 10px;

  & scale trough {
    min-height: 8px;
  }
  & scale highlight {
    background-color: $accent-color;
  }
  & scale slider {
    all: unset;
  }
}
