@import "Colors";

window#volume_osd {
  all: unset;
}
.brightness_osd_box,
.volume_osd_box {
  @include MasterWidget;
  color: $macch-Text;
  min-width: 180px;
  margin-bottom: 1em;
  padding: 5px 10px;

  & label {
    min-width: 3em;
  }

  & scale trough {
    min-height: 8px;
    border-radius: $master_border_radius;
  }
  & scale highlight {
    border-radius: $master_border_radius;
  }
  & scale slider {
    all: unset;
  }
}
