@import "Colors";

window#powermenu {
  all: unset;
}

.powerBox_master {
  @include MasterWidget;
  padding: 10px;
  min-width: 50em;
  min-height: 25em;
}

.powerBox_left_box {
  padding: 10px;
  border-radius: $border-radius;
  color: $macch-Text;
}

.powerBox_left_box_upper_label,
.powerBox_left_box_lower_label {
  padding: 0.5em 0px;
  background-color: $dark_4;
  border-radius: 5px;
}

.powerBox_right_box button {
  padding: 1em;
}
