.side_dash_calendar {
  background-color: $macch-Base;
  border: 1px solid $side_dash_border_color;
  border-radius: $master_border_radius;
  padding: 5px;

  &:selected {
    box-shadow: inset 0 -0.3em 0 0 $macch-Text;
    color: $macch-Text;
    border-radius: 5px;
  }
  &.highlight {
    color: $accent-color;
    box-shadow: inset 0 -2px 0 0 $accent-color;
  }
  &:indeterminate {
    color: $macch-Overlay0;
  }
}
