@import "Colors.scss";

.side_dash {
  background-color: $master-dark-bg;
  border: 1px solid $main-border-color;
  border-bottom-left-radius: $master_border_radius;
  border-top-left-radius: $master_border_radius;
}

.side_dash_box {
  background-color: $master-dark-bg;
  border-bottom-left-radius: $master_border_radius;
  border-top-left-radius: $master_border_radius;
  min-width: 400px;
  padding: $master_padding;
}

.side_dash_sys_button {
  padding: 5px;
}

.side_dash_title {
  background-color: $side_dash_bg_dark;
  border: 1px solid $side_dash_border_color;
  border-radius: $master_border_radius;
  padding: $master_padding;
}

.side_dash_title_start button {
  margin: 0 4px;
}

.side_dash_calendar {
  background-color: $side_dash_bg_dark;
  border: 1px solid $side_dash_border_color;
  border-radius: $master_border_radius;
  padding: 5px;

  &:selected {
    padding: unset;
    background-color: #6b6f76;
  }
}

.side_dash_mid_box {
  border-bottom-left-radius: $master_border_radius;
  border-bottom-right-radius: $master_border_radius;
  padding: $master_padding;
}

.side_dash_notifications_scroll {
  min-height: 630px;
  background-color: $side_dash_bg_dark;
  transition: 300ms;

  &.active {
    min-height: 575px;
    transition: 100ms;
  }
}

.side_dash_notifications {
  background-color: $side_dash_bg_dark;
  border: 1px solid $side_dash_border_color;
  border-radius: $master_border_radius;
  padding: 5px;
}
