@import "Colors";
@import "Chat";
@import "Notifications";
@import "Media";
@import "OSD";
@import "AppLauncher";
@import "SideDash";
@import "Clipboard";
@import "PowerMenu";
@import "Bar";

button {
  all: unset;
  padding: 10px;
  border-radius: 5px;
  transition: all 100ms;
  &:hover {
    background-color: $macch-Surface1;
  }
  &:focus {
    background-color: $macch-Surface1;
  }
}
label {
  all: unset;
  font-weight: 700;
  color: $macch-Text;
}
